<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://org.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_ctx" th:content="@{/}"/>
    <title>首页</title>
    <!--<script th:src="@{/js/jquery-3.5.1.min.js}"></script>-->
    <script th:src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
</head>
<body>
<main th:style="'background:url(' + @{image/index-background.webp} + ');position: fixed;top: 0;left: 0;width: 100%;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-size: cover;'">
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>
    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">漫画1</button>


</main>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/



    /*]]>*/
</script>
</body>
</html>